---
import profileImg from "../images/PXL_20221024_143414124.jpg";
---

<div
  id="home"
  class="flex flex-col md:flex-row items-center gap-4 justify-between"
>
  <div class="flex flex-col gap-4 order-2 w-auto md:w-[60%]">
    <h1 class="text-2xl md:text-4xl">Hello, my name is Ajitesh Chhatani</h1>
    <p class="text-xl md:text-2xl">
      I am a frontend focused software engineer.
    </p>
    <p class="text-xl md:text-2xl">
      I am skilled and experienced in various web technologies like HTML, CSS,
      JavaScript, React, and recently, TypeScript.
    </p>
    <p class="text-xl md:text-2xl">
      Outside of my work, you can mostly find me supporting and opining about my
      favorite football and cricket teams!
    </p>
  </div>
  <div class="order-1 md:order-2 w-auto md:w-[30%]">
    <img
      src={profileImg}
      role="img"
      alt="Ajitesh profile image"
      width="480"
      height="620"
      class="rounded-3xl"
    />
  </div>
</div>
