---
---

<div class="flex h-full">
  <div class="relative">
    <div
      class="flex flex-col gap-4 after:absolute after:w-[2px] after:bg-black dark:after:bg-white after:left-0 after:top-0 after:h-full"
    >
      <section class="ml-6 p-4 rounded-lg bg-[#4166F5] text-white">
        <h1
          class="text-xl after:absolute after:w-4 after:h-4 after:bg-[#4166f5] after:rounded-[50%] after:top-0 after:left-[-7px] after:z-10"
        >
          Peak performance technology
        </h1>
        <p class="text-sm">December 2022 - May 2023</p>
        <p class="text-sm">
          Tech stack: HTML, CSS, JavaScript, TypeScript, React, Next.JS
        </p>
      </section>
      <section class="ml-6 p-4 rounded-lg bg-[#4166F5] text-white">
        <h1
          class="text-xl after:absolute after:w-4 after:h-4 after:bg-[#4166f5] after:rounded-[50%] after:top-[117px] after:left-[-7px] after:z-10"
        >
          CitiusTech Healthcare Pvt. Ltd.
        </h1>
        <p class="text-sm">November 2017 - May 2022</p>
        <p class="text-sm">
          Tech stack: HTML, CSS, JavaScript, Angular, React, Redux, GraphQL,
          MaterialUI
        </p>
      </section>
      <section class="ml-6 p-4 rounded-lg bg-[#4166F5] text-white">
        <h1
          class="text-xl after:absolute after:w-4 after:h-4 after:bg-[#4166f5] after:rounded-[50%] after:top-[234px] after:left-[-7px] after:z-10"
        >
          Tech Mahindra Ltd.
        </h1>
        <p class="text-sm">September 2013 - November 2017</p>
        <p class="text-sm">
          Tech stack: HTML, CSS, JavaScript, JQuery, Bootstrap
        </p>
      </section>
    </div>
  </div>
</div>
